.container {
    position: relative;
    text-align: center;
    width: 100%;
}

.container img {
    margin: 50px auto;
    height: auto;
}

.container Button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}